* {
  margin: 0;
  padding: 0;
}
img {
  width: 40px;
  height: 40px;
  background: red;
  /* padding: 50px; */
  /* font-size: 20px; */
}
i{
    color: blueviolet;
    background-color: aqua;
    font-size: 40px;
    padding: 15px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}